body{
    margin: 0%;
    padding: 0%;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    background-color: #f1f5f9;
    justify-content: center;
     align-items: center;
     min-height: 100vh;
    
}
    

.login-box{
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 24px;
    border: 20px;
    width: 350px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

}
.logo-container{
    margin-bottom: 15px;
}
.logo-emoji{
    font-size: 40px;
}

h1{
  color: #0f172a;
  font-size: 24px;
  margin: 0 0 5px 0;
  font-weight: bold;
}

.subtitle{
    color: #64748b;
    font-size: 14px;
    margin: 0 0 30px 0;
}

input{
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    color: #0f172a;
    font-size: 15px;
    box-sizing: border-box;
    transition: all 0.2s;

}

input::placeholder{
    color: #94a3b8;
}
input:focus{
    outline: none;
    border-color: #0c1e5b;
    box-shadow: 0 0 0 3px rgba(12, 30, 91, 0.1);
}

button{
    width: 100%;
    padding: 14px;
    background-color: #0c1e5b;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s , transform 0.1s;
    margin-top: 10px;
}

button:hover{
    background-color: #061036;
}
button:active{
    transform: scale(o.98)
}

.register-link{
    color: #64748b;
    font-size: 14px;
    margin-top: 20px;
}
.register-link a{
    color: #0c1e5b;
    font-weight: bold;
    text-decoration: none;
}
.register-link a:hover{
    text-decoration: underline;
}